script {
  margin: 0;
  padding: 0;
  height: 100%;
}

canvas {
  display: block;
}

body {
  height: 100%;
  overflow: hidden;
}

.menu {
  display: block;
  position: absolute;
  width: 100px;

}
.form {
  display: block;
  position: absolute;
  width: 100px;

}