script {
  margin: 0;
  padding: 0;
  height: 100%;
}

canvas {
  display: block;
}

body {
  height: 100%;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.menu {
  display: block;
  position: absolute;
  width: 100px;

}
.form {
  display: block;
  position: absolute;
  width: 100px;
}

#main-ui {
  display: block;
  margin: auto;
  height: 300px;
  width: 300px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 4px solid #54c800; /* Green */
}

#startBtn, #login-btn, #register-btn {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  color: #fff;
  border: 1px solid transparent;
  background-color: #54c800; 
  border-radius: 4px;

  border: 2px solid #54c800; /* Green */
  transition-duration: 0.4s;

}

#startBtn:hover, #login-btn:hover, #register-btn:hover {
  background-color: white;
  color: #54c800;  
  border: 2px solid #54c800; /* Green */

}

/* deze chaos hieronder zorgt ervoor dat de login en register in het midden komen*/
#login-register-container {
  text-align: center;
}

#login-btn, #register-btn {
  display: inline-block;

  margin-left: 5px;
  margin-right: 5px;
}
/* deze chaos hierboven zorgt ervoor dat de login en register in het midden komen*/

#startBtn {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

#guest-name {
  display: block;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 20px;
  border-radius: 2px;
  border-style: solid;
  border-color: #A2A2A2;
  padding: 4px;
}

#agamio {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  display: block;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  
}

#controls-text {
  text-align: center;
  color: #7d7d7d;
  font-size: 10px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#welcome-text {
  text-align: center;
  color: #7d7d7d;
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 0px;

}