script {
  margin: 0;
  padding: 0;
  height: 100%;
}

canvas {
  display: block;
}

body {
  height: 100%;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

.menu {
  display: block;
  position: absolute;
  width: 100px;

}
.form {
  display: block;
  position: absolute;
  width: 100px;

}

.btn {
  text-align: center;
}

#main-ui {
  display: block;
  margin: auto;
  height: 300px;
  width: 300px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 2px 2px 3px;
}

#startBtn, #login-btn, #register-btn {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  color: #fff;
  border: 1px solid transparent;
  background-color: #54c800; 
  border-radius: 4px;
}

#startBtn {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

#guest-name {
  display: block;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 2px;
  border-style: solid;
  border-color: #A2A2A2;
}

#agamio {
  text-align: center;
  display: block;
  padding-top: 5px;
}

#controls-text {
  text-align: center;
  color: #7d7d7d;
  font-size: 10px;
}